.features{

padding:80px;

text-align:center;

}

.card-container{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

flex-wrap:wrap;

}

.card{

width:250px;

padding:30px;

background:white;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.works{

padding:80px;

text-align:center;

}

section{

padding:60px;

}